<h1>Search Flights<h1>

<%= form_with url: flights_path, method: :get do %>
  <div>
    <%= label_tag :departure_airport_id, "Departure airport" %>
    <%= select_tag :departure_airport_id,
          options_from_collection_for_select(@airports, :id, :code, params[:departure_airport_id]),
          prompt: "Select departure airport" %>
  </div>

  <div>
    <%= label_tag :arrival_airport_id, "Arrival airport" %>
    <%= select_tag :arrival_airport_id,
          options_from_collection_for_select(@airports, :id, :code, params[:arrival_airport_id]),
          prompt: "Select arrival airport" %>
  </div>

  <div>
    <%=label_tag :date, "Date" %>
    <%= select_tag :date,
          options_for_select(@flight_dates.map { |d| [d.strftime("%Y-%m-%d"), d.to_s] }, params[:date]),
          prompt: "Select date" %>
  </div>

  <div>
    <%= label_tag :num_passengers, "Passengers" %>
    <%= select_tag :num_passengers,
          options_for_select((1..4).to_a, params[:num_passengers]),
          prompt: "Select passengers" %>
  </div>

  <%= submit_tag "Search" %>
<% end %>
