<h1>Passenger Information</h1>

<p>
  <strong>Route:</strong>
  <%= @flight.departure_airport.code %> → <%= @flight.arrival_airport.code %><br>
  <strong>Date:</strong>
  <%= @flight.start_datetime.strftime("%Y-%m-%d %H:%M") %><br>
  <strong>Flight ID:</strong>
  <%= @flight.id %>
</p>

<div data-controller="passengers">
  <%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id %>

    <div data-passengers-target="container">
      <%= form.fields_for :passengers do |passenger_fields| %>
        <fieldset>
          <legend>Passenger</legend>

          <div>
            <%= passenger_fields.label :name %>
            <%= passenger_fields.text_field :name %>
          </div>

          <div>
            <%= passenger_fields.label :email %>
            <%= passenger_fields.email_field :email %>
          </div>

          <%= passenger_fields.hidden_field :_destroy, value: 0 %>
          <button type="button" data-action="click->passengers#removePassenger">Remove</button>
        </fieldset>
      <% end %>
    </div>

    <button type="button" data-action="passengers#addPassenger">
      Add Passenger
    </button>

    <%= form.submit "Create Booking" %>
  <% end %>

  <template data-passengers-target="template">
    <fieldset>
      <legend>Passenger</legend>

      <div>
        <label for="booking_passengers_attributes_NEW_RECORD_name">Name</label>
        <input type="text" name="booking[passengers_attributes][NEW_RECORD][name]" id="booking_passengers_attributes_NEW_RECORD_name">
      </div>

      <div>
        <label for="booking_passengers_attributes_NEW_RECORD_email">Email</label>
        <input type="email" name="booking[passengers_attributes][NEW_RECORD][email]" id="booking_passengers_attributes_NEW_RECORD_email">
      </div>

      <input type="hidden" name="booking[passengers_attributes][NEW_RECORD][_destroy]" value="0">
      <button type="button" data-action="click->passengers#removePassenger">Remove</button>
    </fieldset>
  </template>
</div>